*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
h1{
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
    color: #fff;
}
.bg__img{
    width: 100%;
    height: 100%;
}
.bg__img img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.limiter{
    margin: 0 auto;
    max-width: 1280px;
}

.header{
    height: 75px;
    background-color: #2C2C2C;
}
.header__content{
    height: 100%;
}
.header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
}
.header__logo {
    font-size: 28px;
}
.sign-block {
    display: flex;
}
.stick{
    margin: 0px 10px;
    color: #fff;
    font-size: 20px;
}
.user-link{
    font-size: 20px;
}
.main{
    height: calc(100vh - 75px - 40px);
}
.main__content{
    background-color: #131212;
    height: 100%;
}
.footer{
    height: 40px;
    background-color: #292929;
}
.footer__content {
    height: 100%;
}
.footer__row {
    height: 100%;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.footer__author {
    cursor: default;
}
.contacts__phone {
    cursor: default;
}
.contacts__email {
    cursor: default;
}

.sign__form {
    height: calc(100% - 40px);
}
.form__content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__content input{
    margin-bottom: 5px;
    font-size: 24px;
    padding: 5px;
    outline: none;
    border-radius: 7px;
}
.form__content label{
    font-size: 24px;
    color: #fff;
}
.sign__btn {
    font-size: 24px;
    margin-top: 30px;
    padding: 10px 50px;
    border-style: none;
    border-radius: 7px;
    cursor: pointer;
}