.welcome__block {
    min-height: calc(100vh - 75px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome__title {
    color: #fff;
    font-size: 30px;
}

